<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="bzip2" version="1.0.6.7" targetFramework="Native" />
  <package id="bzip2.redist" version="1.0.6.7" targetFramework="Native" />
  <package id="pcre" version="8.32.0.7" targetFramework="Native" />
  <package id="pcre.redist" version="8.32.0.7" targetFramework="Native" />
</packages>